{% extends 'base.html.twig' %}

{% block title %}UserPreference{% endblock %}

{% block body %}
    <h1>UserPreference</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_preference.id }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ user_preference.budget }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ user_preference.location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_preference_index') }}">back to list</a>

    <a href="{{ path('app_user_preference_edit', {'id': user_preference.id}) }}">edit</a>

    {{ include('user_preference/_delete_form.html.twig') }}
{% endblock %}
