{% extends 'base.html.twig' %}

{% block title %}Ambiance index{% endblock %}

{% block body %}
    <h1>Ambiance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ambiance in ambiances %}
            <tr>
                <td>{{ ambiance.id }}</td>
                <td>{{ ambiance.name }}</td>
                <td>{{ ambiance.description }}</td>
                <td>
                    <a href="{{ path('app_ambiance_show', {'id': ambiance.id}) }}">show</a>
                    <a href="{{ path('app_ambiance_edit', {'id': ambiance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ambiance_new') }}">Create new</a>
{% endblock %}
